<footer class="footer">
  <div class="container">
    <span class="text-muted">Варіант 1 - Інформаційна система садового центру</span>
    <br><span class="text-muted">Powered by ruby on rails</span>
  </div>
</footer>