<h1>Про нас</h1>

<p>Сайт, зроблений на ruby on rails</p>
Варіант 1 - Інформаційна система садового центру
<p>Розроблена студентом 308 групи Мещеряков Н.С. 
    <br> Для 13-14 лабораторної роботи з Ruby.
</p>